:root{
    --primary-color:#ffffff;
    --primary-dark:#fa187d;
}

a{
    color:var(--primary-dark);
    color:var(--primary-color);
    margin:10px;
    text-decoration:none;
}

body{
    background-image: url("photo/photo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
    margin:0px;
    text-align:center;
}

button{
    background-color: var(--primary-dark);
    border-radius:0.5rem;
    color:var(--primary-color);
    cursor:pointer;
    font-size:1.1rem;
    margin:30px;
    padding:5px;
}

h1{
    font-size:2.5rem;
}

input,label{
    border-radius: 0.5rem;
    font-size:1rem;
    margin:0.3rem;
    padding:10px;
}
input[type=radio] {
    border: 0px;
    width:2%;
    height: 1em;
}

nav{
   border-bottom-left-radius:2rem;
   margin:0rem 0rem 3rem 0rem;
   padding:2rem;
   text-align:right;
}
.nav-brand{
    font-weight:900;
    margin-top:2px;
    text-align:left;
}

#output{
    font-size:1.2rem;
}

footer{
    margin-bottom:0.5rem;
    margin-top:3rem;
    padding-top:6rem;
}